@model DatePeriodModel

@{
    ViewData["Title"] = "Глобален репорт";
}

<h1>Глобален репорт</h1>

<form asp-controller="Home" asp-action="GetGlobalReport" data-ajax="true" data-ajax-method="POST"
      data-ajax-mode="replace" data-ajax-update="#content">
    @Html.Label("startDate", "Начална дата: ")
    @Html.EditorFor(m => m.StartDate, new { placeholder = "yyyy/MM", @class = "form-input" })
    @Html.Label("startDate", "Крайна дата: ")
    @Html.EditorFor(m => m.EndDate, new { placeholder = "yyyy/MM", @class = "form-input" })
    <input type="submit" value="Генерирай" id="btnSubmit" />
</form>

<div id="content">

</div>